body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
}
nav {
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    position: sticky;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 20px;
}

.our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px;
}
.team-item a {
    font-family: Arial;
    text-decoration: none;
    color: #0f89ff;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    font-family: Arial;
}
 .map a {
    text-decoration: none;
    color: #0f89ff;
}

 .feedback-title {
     padding: 180px 0 0 0 ;
 }
 .feedback-title h2 {

 }

.feedback {
    padding: 100px;
    text-align: center;
    font-family: Arial;
}
.feedback button {
    padding: 10px 30px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}



.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #222;
    background: -moz-linear-gradient(#999, #222);
    background: -webkit-linear-gradient(#999, #222);
    background: -o-linear-gradient(#999, #222);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #222; }

input[type] {
    width: 230px;
    padding: 5px;
    border-radius: 5px;
}
button {
    width: 245px;
    border-radius: 5px;
}

footer {
    background-color: black;
}